@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-2k-sports:before { content: "\f100"; }
.flaticon-002-assassins-creed:before { content: "\f101"; }
.flaticon-003-atari:before { content: "\f102"; }
.flaticon-004-bandai:before { content: "\f103"; }
.flaticon-005-bandai:before { content: "\f104"; }
.flaticon-006-capcom:before { content: "\f105"; }
.flaticon-007-crytek:before { content: "\f106"; }
.flaticon-008-dota-2:before { content: "\f107"; }
.flaticon-009-ea-sports:before { content: "\f108"; }
.flaticon-010-game-boy:before { content: "\f109"; }
.flaticon-011-gears-of-war:before { content: "\f10a"; }
.flaticon-012-gta:before { content: "\f10b"; }
.flaticon-013-guitar-hero:before { content: "\f10c"; }
.flaticon-014-konami:before { content: "\f10d"; }
.flaticon-015-lego:before { content: "\f10e"; }
.flaticon-016-namco:before { content: "\f10f"; }
.flaticon-017-nintendo-ds:before { content: "\f110"; }
.flaticon-018-nintendo:before { content: "\f111"; }
.flaticon-019-nintendo-switch:before { content: "\f112"; }
.flaticon-020-wii:before { content: "\f113"; }
.flaticon-021-wii-u:before { content: "\f114"; }
.flaticon-022-pes:before { content: "\f115"; }
.flaticon-023-playstation:before { content: "\f116"; }
.flaticon-024-pokemon-go:before { content: "\f117"; }
.flaticon-025-ps2:before { content: "\f118"; }
.flaticon-026-ps3:before { content: "\f119"; }
.flaticon-027-ps4:before { content: "\f11a"; }
.flaticon-028-psp:before { content: "\f11b"; }
.flaticon-029-play-station:before { content: "\f11c"; }
.flaticon-030-rovio:before { content: "\f11d"; }
.flaticon-031-sega:before { content: "\f11e"; }
.flaticon-032-sony:before { content: "\f11f"; }
.flaticon-033-super-mario:before { content: "\f120"; }
.flaticon-034-tamiya:before { content: "\f121"; }
.flaticon-035-ubisoft:before { content: "\f122"; }
.flaticon-036-valve:before { content: "\f123"; }
.flaticon-037-we-pes:before { content: "\f124"; }
.flaticon-038-xbox:before { content: "\f125"; }
.flaticon-039-zynga:before { content: "\f126"; }

$font-Flaticon-001-2k-sports: "\f100";
$font-Flaticon-002-assassins-creed: "\f101";
$font-Flaticon-003-atari: "\f102";
$font-Flaticon-004-bandai: "\f103";
$font-Flaticon-005-bandai: "\f104";
$font-Flaticon-006-capcom: "\f105";
$font-Flaticon-007-crytek: "\f106";
$font-Flaticon-008-dota-2: "\f107";
$font-Flaticon-009-ea-sports: "\f108";
$font-Flaticon-010-game-boy: "\f109";
$font-Flaticon-011-gears-of-war: "\f10a";
$font-Flaticon-012-gta: "\f10b";
$font-Flaticon-013-guitar-hero: "\f10c";
$font-Flaticon-014-konami: "\f10d";
$font-Flaticon-015-lego: "\f10e";
$font-Flaticon-016-namco: "\f10f";
$font-Flaticon-017-nintendo-ds: "\f110";
$font-Flaticon-018-nintendo: "\f111";
$font-Flaticon-019-nintendo-switch: "\f112";
$font-Flaticon-020-wii: "\f113";
$font-Flaticon-021-wii-u: "\f114";
$font-Flaticon-022-pes: "\f115";
$font-Flaticon-023-playstation: "\f116";
$font-Flaticon-024-pokemon-go: "\f117";
$font-Flaticon-025-ps2: "\f118";
$font-Flaticon-026-ps3: "\f119";
$font-Flaticon-027-ps4: "\f11a";
$font-Flaticon-028-psp: "\f11b";
$font-Flaticon-029-play-station: "\f11c";
$font-Flaticon-030-rovio: "\f11d";
$font-Flaticon-031-sega: "\f11e";
$font-Flaticon-032-sony: "\f11f";
$font-Flaticon-033-super-mario: "\f120";
$font-Flaticon-034-tamiya: "\f121";
$font-Flaticon-035-ubisoft: "\f122";
$font-Flaticon-036-valve: "\f123";
$font-Flaticon-037-we-pes: "\f124";
$font-Flaticon-038-xbox: "\f125";
$font-Flaticon-039-zynga: "\f126";