$icomoon-font-family: "rank-video-games" !default;
$icomoon-font-path: "fonts" !default;

$icon-2k-sports: "\e900";
$icon-assassins-creed: "\e901";
$icon-atari: "\e902";
$icon-bandai: "\e903";
$icon-bandai1: "\e904";
$icon-capcom: "\e905";
$icon-crytek: "\e906";
$icon-dota-2: "\e907";
$icon-ea-sports: "\e908";
$icon-game-boy: "\e909";
$icon-gears-of-war: "\e90a";
$icon-gta: "\e90b";
$icon-guitar-hero: "\e90c";
$icon-lego: "\e90e";
$icon-namco: "\e90f";
$icon-nintendo-ds1: "\e910";
$icon-nintendo1: "\e911";
$icon-nintendo-switch: "\e912";
$icon-wii: "\e913";
$icon-wii-u: "\e914";
$icon-pes: "\e915";
$icon-playstation1: "\e916";
$icon-pokemon-go: "\e917";
$icon-ps2: "\e918";
$icon-ps31: "\e919";
$icon-ps41: "\e91a";
$icon-psp1: "\e91b";
$icon-play-station: "\e91c";
$icon-rovio: "\e91d";
$icon-sega: "\e91e";
$icon-sony: "\e91f";
$icon-super-mario: "\e920";
$icon-tamiya: "\e921";
$icon-ubisoft: "\e922";
$icon-valve: "\e923";
$icon-we-pes: "\e924";
$icon-xbox: "\e925";
$icon-zynga: "\e926";
$icon-fuse-path1: "\e927";
$icon-fuse-path2: "\e928";
$icon-fuse-path3: "\e929";
$icon-fuse-path4: "\e92a";
$icon-cupid-path1: "\e92b";
$icon-cupid-path2: "\e92c";
$icon-cupid-path3: "\e92d";
$icon-cupid-path4: "\e92e";
$icon-game-console-path1: "\e92f";
$icon-game-console-path2: "\e930";
$icon-game-console-path3: "\e931";
$icon-game-console-path4: "\e932";
$icon-game-console-path5: "\e933";
$icon-game-console-path6: "\e934";
$icon-game-console-path7: "\e935";
$icon-game-console-path8: "\e936";
$icon-computing-path1: "\e937";
$icon-computing-path2: "\e938";
$icon-computing-path3: "\e939";
$icon-computing-path4: "\e93a";
$icon-computing-path5: "\e93b";
$icon-computing-path6: "\e93c";
$icon-computer-monitor-path1: "\e93d";
$icon-computer-monitor-path2: "\e93e";
$icon-computer-monitor-path3: "\e93f";
$icon-computer-monitor-path4: "\e940";
$icon-computer-monitor-path5: "\e941";
$icon-computer-monitor-path6: "\e942";
$icon-computer-monitor-path7: "\e943";
$icon-computer-monitor-path8: "\e944";
$icon-jewels-path1: "\e945";
$icon-jewels-path2: "\e946";
$icon-jewels-path3: "\e947";
$icon-jewels-path4: "\e948";
$icon-jewels-path5: "\e949";
$icon-jewels-path6: "\e94a";
$icon-jewels-path7: "\e94b";
$icon-jewels-path8: "\e94c";
$icon-jewels-path9: "\e94d";
$icon-game-controller-path1: "\e94e";
$icon-game-controller-path2: "\e94f";
$icon-game-controller-path3: "\e950";
$icon-game-controller-path4: "\e951";
$icon-game-controller-path5: "\e952";
$icon-Maps-and-Flags-path1: "\e953";
$icon-Maps-and-Flags-path2: "\e954";
$icon-Maps-and-Flags-path3: "\e955";
$icon-game-control-path1: "\e956";
$icon-game-control-path2: "\e957";
$icon-game-control-path3: "\e958";
$icon-game-control-path4: "\e959";
$icon-game-control-path5: "\e95a";
$icon-game-control-path6: "\e95b";
$icon-game-control-path7: "\e95c";
$icon-game-console1-path1: "\e95d";
$icon-game-console1-path2: "\e95e";
$icon-game-console1-path3: "\e95f";
$icon-game-console1-path4: "\e960";
$icon-game-console1-path5: "\e961";
$icon-game-console1-path6: "\e962";
$icon-gamer-path1: "\e963";
$icon-gamer-path2: "\e964";
$icon-gamer-path3: "\e965";
$icon-gamer-path4: "\e966";
$icon-gamer2-path1: "\e967";
$icon-gamer2-path2: "\e968";
$icon-gamer2-path3: "\e969";
$icon-gamer2-path4: "\e96a";
$icon-gamer2-path5: "\e96b";
$icon-gamer2-path6: "\e96c";
$icon-weapong-path1: "\e96d";
$icon-weapong-path2: "\e96e";
$icon-weapong-path3: "\e96f";
$icon-weapong-path4: "\e970";
$icon-weapong-path5: "\e971";
$icon-weapong-path6: "\e972";
$icon-game-console14-path1: "\e973";
$icon-game-console14-path2: "\e974";
$icon-game-console14-path3: "\e975";
$icon-game-console14-path4: "\e976";
$icon-game-console14-path5: "\e977";
$icon-game-console14-path6: "\e978";
$icon-game-console14-path7: "\e979";
$icon-lover-path1: "\e97a";
$icon-lover-path2: "\e97b";
$icon-lover-path3: "\e97c";
$icon-sand-clock-path1: "\e97d";
$icon-sand-clock-path2: "\e97e";
$icon-sand-clock-path3: "\e97f";
$icon-sand-clock-path4: "\e980";
$icon-sand-clock-path5: "\e981";
$icon-sand-clock-path6: "\e982";
$icon-game-controller1-path1: "\e983";
$icon-game-controller1-path2: "\e984";
$icon-game-controller1-path3: "\e985";
$icon-game-controller1-path4: "\e986";
$icon-game-controller1-path5: "\e987";
$icon-game-controller1-path6: "\e988";
$icon-game-controller1-path7: "\e989";
$icon-game-console2-path1: "\e98a";
$icon-game-console2-path2: "\e98b";
$icon-game-console2-path3: "\e98c";
$icon-game-console2-path4: "\e98d";
$icon-game-console2-path5: "\e98e";
$icon-game-console2-path6: "\e98f";
$icon-Lightnings-path1: "\e990";
$icon-Lightnings-path2: "\e991";
$icon-Lightnings-path3: "\e992";
$icon-horseshoe-path1: "\e993";
$icon-horseshoe-path2: "\e994";
$icon-horseshoe-path3: "\e995";
$icon-horseshoe-path4: "\e996";
$icon-horseshoe-path5: "\e997";
$icon-badge-path1: "\e998";
$icon-badge-path2: "\e999";
$icon-badge-path3: "\e99a";
$icon-badge-path4: "\e99b";
$icon-badge-path5: "\e99c";
$icon-badge-path6: "\e99d";
$icon-technological-path1: "\e99e";
$icon-technological-path2: "\e99f";
$icon-technological-path3: "\e9a0";
$icon-technological-path4: "\e9a1";
$icon-game-console3-path1: "\e9a2";
$icon-game-console3-path2: "\e9a3";
$icon-game-console3-path3: "\e9a4";
$icon-game-console3-path4: "\e9a5";
$icon-game-console3-path5: "\e9a6";
$icon-game-console3-path6: "\e9a7";
$icon-game-controller2-path1: "\e9a8";
$icon-game-controller2-path2: "\e9a9";
$icon-game-controller2-path3: "\e9aa";
$icon-game-controller2-path4: "\e9ab";
$icon-game-controller2-path5: "\e9ac";
$icon-game-controller2-path6: "\e9ad";
$icon-game-controller2-path7: "\e9ae";
$icon-game-controller2-path8: "\e9af";
$icon-game-controller2-path9: "\e9b0";
$icon-game-console4-path1: "\e9b1";
$icon-game-console4-path2: "\e9b2";
$icon-game-console4-path3: "\e9b3";
$icon-game-console4-path4: "\e9b4";
$icon-game-console4-path5: "\e9b5";
$icon-game-console4-path6: "\e9b6";
$icon-game-console4-path7: "\e9b7";
$icon-game-console4-path8: "\e9b8";
$icon-game-console4-path9: "\e9b9";
$icon-game-console4-path10: "\e9ba";
$icon-game-console5-path1: "\e9bb";
$icon-game-console5-path2: "\e9bc";
$icon-game-console5-path3: "\e9bd";
$icon-game-console5-path4: "\e9be";
$icon-game-console5-path5: "\e9bf";
$icon-game-console5-path6: "\e9c0";
$icon-game-console5-path7: "\e9c1";
$icon-game-console5-path8: "\e9c2";
$icon-virtual-reality-path1: "\e9c3";
$icon-virtual-reality-path2: "\e9c4";
$icon-virtual-reality-path3: "\e9c5";
$icon-virtual-reality-path4: "\e9c6";
$icon-virtual-reality-path5: "\e9c7";
$icon-gamer1-path1: "\e9c8";
$icon-gamer1-path2: "\e9c9";
$icon-gamer1-path3: "\e9ca";
$icon-gamer1-path4: "\e9cb";
$icon-gamer1-path5: "\e9cc";
$icon-gamer1-path6: "\e9cd";
$icon-gamer1-path7: "\e9ce";
$icon-game-controller3-path1: "\e9cf";
$icon-game-controller3-path2: "\e9d0";
$icon-game-controller3-path3: "\e9d1";
$icon-game-controller3-path4: "\e9d2";
$icon-game-controller3-path5: "\e9d3";
$icon-game-controller3-path6: "\e9d4";
$icon-racing-path1: "\e9d5";
$icon-racing-path2: "\e9d6";
$icon-racing-path3: "\e9d7";
$icon-racing-path4: "\e9d8";
$icon-racing-path5: "\e9d9";
$icon-racing-path6: "\e9da";
$icon-racing-path7: "\e9db";
$icon-racing-path8: "\e9dc";
$icon-droid-path1: "\e9dd";
$icon-droid-path2: "\e9de";
$icon-droid-path3: "\e9df";
$icon-droid-path4: "\e9e0";
$icon-droid-path5: "\e9e1";
$icon-droid-path6: "\e9e2";
$icon-droid-path7: "\e9e3";
$icon-droid-path8: "\e9e4";
$icon-droid-path9: "\e9e5";
$icon-droid-path10: "\e9e6";
$icon-droid-path11: "\e9e7";
$icon-droid-path12: "\e9e8";
$icon-droid-path13: "\e9e9";
$icon-droid-path14: "\e9ea";
$icon-droid-path15: "\e9eb";
$icon-droid-path16: "\e9ec";
$icon-droid-path17: "\e9ed";
$icon-droid-path18: "\e9ee";
$icon-droid-path19: "\e9ef";
$icon-droid-path20: "\e9f0";
$icon-droid-path21: "\e9f1";
$icon-rocket-ship-launch-path1: "\e9f2";
$icon-rocket-ship-launch-path2: "\e9f3";
$icon-rocket-ship-launch-path3: "\e9f4";
$icon-rocket-ship-launch-path4: "\e9f5";
$icon-rocket-ship-launch-path5: "\e9f6";
$icon-rocket-ship-launch-path6: "\e9f7";
$icon-rocket-ship-launch-path7: "\e9f8";
$icon-rocket-ship-launch-path8: "\e9f9";
$icon-rocket-ship-launch-path9: "\e9fa";
$icon-rocket-ship-launch-path10: "\e9fb";
$icon-game-controller4-path1: "\e9fc";
$icon-game-controller4-path2: "\e9fd";
$icon-game-controller4-path3: "\e9fe";
$icon-game-controller4-path4: "\e9ff";
$icon-game-controller4-path5: "\ea00";
$icon-game-controller4-path6: "\ea01";
$icon-game-controller4-path7: "\ea02";
$icon-game-console6-path1: "\ea03";
$icon-game-console6-path2: "\ea04";
$icon-game-console6-path3: "\ea05";
$icon-game-console6-path4: "\ea06";
$icon-game-console6-path5: "\ea07";
$icon-game-console6-path6: "\ea08";
$icon-game-console6-path7: "\ea09";
$icon-game-console6-path8: "\ea0a";
$icon-game-console6-path9: "\ea0b";
$icon-defense-path1: "\ea0c";
$icon-defense-path2: "\ea0d";
$icon-defense-path3: "\ea0e";
$icon-defense-path4: "\ea0f";
$icon-circular-target-path1: "\ea10";
$icon-circular-target-path2: "\ea11";
$icon-circular-target-path3: "\ea12";
$icon-dead-path1: "\ea13";
$icon-dead-path2: "\ea14";
$icon-dead-path3: "\ea15";
$icon-dead-path4: "\ea16";
$icon-dead-path5: "\ea17";
$icon-dead-path6: "\ea18";
$icon-game-controller5-path1: "\ea20";
$icon-game-controller5-path2: "\ea21";
$icon-game-controller5-path3: "\ea22";
$icon-game-controller5-path4: "\ea23";
$icon-game-controller5-path5: "\ea24";
$icon-game-console7-path1: "\ea25";
$icon-game-console7-path2: "\ea26";
$icon-game-console7-path3: "\ea27";
$icon-game-console7-path4: "\ea28";
$icon-game-console7-path5: "\ea29";
$icon-game-console7-path6: "\ea2a";
$icon-game-console7-path7: "\ea2b";
$icon-game-console8-path1: "\ea2c";
$icon-game-console8-path2: "\ea2d";
$icon-game-console8-path3: "\ea2e";
$icon-game-console8-path4: "\ea2f";
$icon-game-console8-path5: "\ea30";
$icon-game-console8-path6: "\ea31";
$icon-game-console8-path7: "\ea32";
$icon-races-path1: "\ea33";
$icon-races-path2: "\ea34";
$icon-races-path3: "\ea35";
$icon-races-path4: "\ea36";
$icon-races-path5: "\ea37";
$icon-game-console9-path1: "\ea38";
$icon-game-console9-path2: "\ea39";
$icon-game-console9-path3: "\ea3a";
$icon-game-console9-path4: "\ea3b";
$icon-knight-path1: "\ea3c";
$icon-knight-path2: "\ea3d";
$icon-knight-path3: "\ea3e";
$icon-knight-path4: "\ea3f";
$icon-knight-path5: "\ea40";
$icon-knight-path6: "\ea41";
$icon-knight-path7: "\ea42";
$icon-knight-path8: "\ea43";
$icon-knight-path9: "\ea44";
$icon-knight-path10: "\ea45";
$icon-knight-path11: "\ea46";
$icon-knight-path12: "\ea47";
$icon-knight-path13: "\ea48";
$icon-technological1-path1: "\ea49";
$icon-technological1-path2: "\ea4a";
$icon-technological1-path3: "\ea4b";
$icon-technological1-path4: "\ea4c";
$icon-technological1-path5: "\ea4d";
$icon-technological1-path6: "\ea4e";
$icon-game-console10-path1: "\ea4f";
$icon-game-console10-path2: "\ea50";
$icon-game-console10-path3: "\ea51";
$icon-game-console10-path4: "\ea52";
$icon-game-console10-path5: "\ea53";
$icon-game-console10-path6: "\ea54";
$icon-game-console11-path1: "\ea55";
$icon-game-console11-path2: "\ea56";
$icon-game-console11-path3: "\ea57";
$icon-game-console11-path4: "\ea58";
$icon-game-console11-path5: "\ea59";
$icon-game-console11-path6: "\ea5a";
$icon-game-console12-path1: "\ea5b";
$icon-game-console12-path2: "\ea5c";
$icon-game-console13-path1: "\ea5d";
$icon-game-console13-path2: "\ea5e";
$icon-game-console13-path3: "\ea5f";
$icon-game-console13-path4: "\ea60";
$icon-ps4-path1: "\ea61";
$icon-ps4-path2: "\ea62";
$icon-ps4-path3: "\ea63";
$icon-ps4-path4: "\ea64";
$icon-ps4-path5: "\ea65";
$icon-ps4-path6: "\ea66";
$icon-ps4-path7: "\ea67";
$icon-psvita-path1: "\ea68";
$icon-psvita-path2: "\ea69";
$icon-psvita-path3: "\ea6a";
$icon-psvita-path4: "\ea6b";
$icon-psvita-path5: "\ea6c";
$icon-psvita-path6: "\ea6d";
$icon-psvita-path7: "\ea6e";
$icon-psvita-path8: "\ea6f";
$icon-psvita-path9: "\ea70";
$icon-psvita-path10: "\ea71";
$icon-ps3-path1: "\ea72";
$icon-ps3-path2: "\ea73";
$icon-ps3-path3: "\ea74";
$icon-ps3-path4: "\ea75";
$icon-ps3-path5: "\ea76";
$icon-ps3-path6: "\ea77";
$icon-ps3-path7: "\ea78";
$icon-ps21-path1: "\ea79";
$icon-ps21-path2: "\ea7a";
$icon-ps21-path3: "\ea7b";
$icon-ps21-path4: "\ea7c";
$icon-ps21-path5: "\ea7d";
$icon-ps21-path6: "\ea7e";
$icon-ps21-path7: "\ea7f";
$icon-ea-sports1-path1: "\ea80";
$icon-ea-sports1-path2: "\ea81";
$icon-ea-sports1-path3: "\ea82";
$icon-ea-sports1-path4: "\ea83";
$icon-ea-sports1-path5: "\ea84";
$icon-ea-sports1-path6: "\ea85";
$icon-ea-sports1-path7: "\ea86";
$icon-ea-sports1-path8: "\ea87";
$icon-ea-sports1-path9: "\ea88";
$icon-ea-sports1-path10: "\ea89";
$icon-ea-sports1-path11: "\ea8a";
$icon-ea-sports1-path12: "\ea8b";
$icon-ea-sports1-path13: "\ea8c";
$icon-ea-sports1-path14: "\ea8d";
$icon-ea-sports1-path15: "\ea8e";
$icon-ea-sports1-path16: "\ea8f";
$icon-ea-sports1-path17: "\ea90";
$icon-ea-sports1-path18: "\ea91";
$icon-ea-sports1-path19: "\ea92";
$icon-ea-sports1-path20: "\ea93";
$icon-ea-sports1-path21: "\ea94";
$icon-lego1-path1: "\ea95";
$icon-lego1-path2: "\ea96";
$icon-lego1-path3: "\ea97";
$icon-lego1-path4: "\ea98";
$icon-lego1-path5: "\ea99";
$icon-lego1-path6: "\ea9a";
$icon-lego1-path7: "\ea9b";
$icon-lego1-path8: "\ea9c";
$icon-lego1-path9: "\ea9d";
$icon-lego1-path10: "\ea9e";
$icon-lego1-path11: "\ea9f";
$icon-lego1-path12: "\eaa0";
$icon-lego1-path13: "\eaa1";
$icon-lego1-path14: "\eaa2";
$icon-atari1-path1: "\eaa3";
$icon-atari1-path2: "\eaa4";
$icon-atari1-path3: "\eaa5";
$icon-atari1-path4: "\eaa6";
$icon-atari1-path5: "\eaa7";
$icon-atari1-path6: "\eaa8";
$icon-atari1-path7: "\eaa9";
$icon-atari1-path8: "\eaaa";
$icon-atari1-path9: "\eaab";
$icon-atari1-path10: "\eaac";
$icon-atari1-path11: "\eaad";
$icon-guitar-hero1-path1: "\eaae";
$icon-guitar-hero1-path2: "\eaaf";
$icon-guitar-hero1-path3: "\eab0";
$icon-guitar-hero1-path4: "\eab1";
$icon-guitar-hero1-path5: "\eab2";
$icon-guitar-hero1-path6: "\eab3";
$icon-guitar-hero1-path7: "\eab4";
$icon-guitar-hero1-path8: "\eab5";
$icon-guitar-hero1-path9: "\eab6";
$icon-guitar-hero1-path10: "\eab7";
$icon-guitar-hero1-path11: "\eab8";
$icon-guitar-hero1-path12: "\eab9";
$icon-guitar-hero1-path13: "\eaba";
$icon-guitar-hero1-path14: "\eabb";
$icon-guitar-hero1-path15: "\eabc";
$icon-guitar-hero1-path16: "\eabd";
$icon-guitar-hero1-path17: "\eabe";
$icon-guitar-hero1-path18: "\eabf";
$icon-guitar-hero1-path19: "\eac0";
$icon-guitar-hero1-path20: "\eac1";
$icon-guitar-hero1-path21: "\eac2";
$icon-guitar-hero1-path22: "\eac3";
$icon-guitar-hero1-path23: "\eac4";
$icon-guitar-hero1-path24: "\eac5";
$icon-guitar-hero1-path25: "\eac6";
$icon-guitar-hero1-path26: "\eac7";
$icon-guitar-hero1-path27: "\eac8";
$icon-guitar-hero1-path28: "\eac9";
$icon-guitar-hero1-path29: "\eaca";
$icon-guitar-hero1-path30: "\eacb";
$icon-guitar-hero1-path31: "\eacc";
$icon-tamiya1-path1: "\eacd";
$icon-tamiya1-path2: "\eace";
$icon-tamiya1-path3: "\eacf";
$icon-tamiya1-path4: "\ead0";
$icon-tamiya1-path5: "\ead1";
$icon-tamiya1-path6: "\ead2";
$icon-tamiya1-path7: "\ead3";
$icon-tamiya1-path8: "\ead4";
$icon-tamiya1-path9: "\ead5";
$icon-tamiya1-path10: "\ead6";
$icon-tamiya1-path11: "\ead7";
$icon-tamiya1-path12: "\ead8";
$icon-tamiya1-path13: "\ead9";
$icon-tamiya1-path14: "\eada";
$icon-tamiya1-path15: "\eadb";
$icon-tamiya1-path16: "\eadc";
$icon-tamiya1-path17: "\eadd";
$icon-tamiya1-path18: "\eade";
$icon-tamiya1-path19: "\eadf";
$icon-super-mario1-path1: "\eae0";
$icon-super-mario1-path2: "\eae1";
$icon-super-mario1-path3: "\eae2";
$icon-super-mario1-path4: "\eae3";
$icon-super-mario1-path5: "\eae4";
$icon-super-mario1-path6: "\eae5";
$icon-super-mario1-path7: "\eae6";
$icon-super-mario1-path8: "\eae7";
$icon-super-mario1-path9: "\eae8";
$icon-super-mario1-path10: "\eae9";
$icon-super-mario1-path11: "\eaea";
$icon-super-mario1-path12: "\eaeb";
$icon-super-mario1-path13: "\eaec";
$icon-super-mario1-path14: "\eaed";
$icon-super-mario1-path15: "\eaee";
$icon-super-mario1-path16: "\eaef";
$icon-super-mario1-path17: "\eaf0";
$icon-super-mario1-path18: "\eaf1";
$icon-super-mario1-path19: "\eaf2";
$icon-super-mario1-path20: "\eaf3";
$icon-super-mario1-path21: "\eaf4";
$icon-super-mario1-path22: "\eaf5";
$icon-super-mario1-path23: "\eaf6";
$icon-super-mario1-path24: "\eaf7";
$icon-super-mario1-path25: "\eaf8";
$icon-super-mario1-path26: "\eaf9";
$icon-super-mario1-path27: "\eafa";
$icon-psp-path1: "\eafb";
$icon-psp-path2: "\eafc";
$icon-psp-path3: "\eafd";
$icon-psp-path4: "\eafe";
$icon-psp-path5: "\eaff";
$icon-psp-path6: "\eb00";
$icon-psp-path7: "\eb01";
$icon-pes1-path1: "\eb02";
$icon-pes1-path2: "\eb03";
$icon-pes1-path3: "\eb04";
$icon-pes1-path4: "\eb05";
$icon-pes1-path5: "\eb06";
$icon-pes1-path6: "\eb07";
$icon-pes1-path7: "\eb08";
$icon-pes1-path8: "\eb09";
$icon-pes1-path9: "\eb0a";
$icon-pes1-path10: "\eb0b";
$icon-pes1-path11: "\eb0c";
$icon-pes1-path12: "\eb0d";
$icon-pes1-path13: "\eb0e";
$icon-pes1-path14: "\eb0f";
$icon-pes1-path15: "\eb10";
$icon-pes1-path16: "\eb11";
$icon-pes1-path17: "\eb12";
$icon-pes1-path18: "\eb13";
$icon-pes1-path19: "\eb14";
$icon-pes1-path20: "\eb15";
$icon-pes1-path21: "\eb16";
$icon-pes1-path22: "\eb17";
$icon-pes1-path23: "\eb18";
$icon-pes1-path24: "\eb19";
$icon-pes1-path25: "\eb1a";
$icon-pes1-path26: "\eb1b";
$icon-pes1-path27: "\eb1c";
$icon-pes1-path28: "\eb1d";
$icon-pes1-path29: "\eb1e";
$icon-pokemon-path1: "\eb1f";
$icon-pokemon-path2: "\eb20";
$icon-pokemon-path3: "\eb21";
$icon-pokemon-path4: "\eb22";
$icon-pokemon-path5: "\eb23";
$icon-pokemon-path6: "\eb24";
$icon-pokemon-path7: "\eb25";
$icon-pokemon-path8: "\eb26";
$icon-pokemon-path9: "\eb27";
$icon-pokemon-path10: "\eb28";
$icon-pokemon-path11: "\eb29";
$icon-pokemon-path12: "\eb2a";
$icon-pokemon-path13: "\eb2b";
$icon-pokemon-path14: "\eb2c";
$icon-pokemon-path15: "\eb2d";
$icon-pokemon-path16: "\eb2e";
$icon-pokemon-path17: "\eb2f";
$icon-pokemon-path18: "\eb30";
$icon-pokemon-path19: "\eb31";
$icon-pokemon-path20: "\eb32";
$icon-pokemon-path21: "\eb33";
$icon-pokemon-path22: "\eb34";
$icon-pokemon-path23: "\eb35";
$icon-pokemon-path24: "\eb36";
$icon-pokemon-path25: "\eb37";
$icon-pokemon-path26: "\eb38";
$icon-pokemon-path27: "\eb39";
$icon-pokemon-path28: "\eb3a";
$icon-pokemon-path29: "\eb3b";
$icon-pokemon-path30: "\eb3c";
$icon-pokemon-path31: "\eb3d";
$icon-pokemon-path32: "\eb3e";
$icon-pokemon-path33: "\eb3f";
$icon-pokemon-path34: "\eb40";
$icon-pokemon-path35: "\eb41";
$icon-pokemon-path36: "\eb42";
$icon-pokemon-path37: "\eb43";
$icon-we-pes1-path1: "\eb44";
$icon-we-pes1-path2: "\eb45";
$icon-we-pes1-path3: "\eb46";
$icon-we-pes1-path4: "\eb47";
$icon-we-pes1-path5: "\eb48";
$icon-we-pes1-path6: "\eb49";
$icon-we-pes1-path7: "\eb4a";
$icon-we-pes1-path8: "\eb4b";
$icon-we-pes1-path9: "\eb4c";
$icon-we-pes1-path10: "\eb4d";
$icon-we-pes1-path11: "\eb4e";
$icon-we-pes1-path12: "\eb4f";
$icon-we-pes1-path13: "\eb50";
$icon-we-pes1-path14: "\eb51";
$icon-we-pes1-path15: "\eb52";
$icon-we-pes1-path16: "\eb53";
$icon-we-pes1-path17: "\eb54";
$icon-grand-theft-auto-path1: "\eb55";
$icon-grand-theft-auto-path2: "\eb56";
$icon-grand-theft-auto-path3: "\eb57";
$icon-grand-theft-auto-path4: "\eb58";
$icon-grand-theft-auto-path5: "\eb59";
$icon-grand-theft-auto-path6: "\eb5a";
$icon-grand-theft-auto-path7: "\eb5b";
$icon-grand-theft-auto-path8: "\eb5c";
$icon-grand-theft-auto-path9: "\eb5d";
$icon-grand-theft-auto-path10: "\eb5e";
$icon-grand-theft-auto-path11: "\eb5f";
$icon-grand-theft-auto-path12: "\eb60";
$icon-grand-theft-auto-path13: "\eb61";
$icon-grand-theft-auto-path14: "\eb62";
$icon-grand-theft-auto-path15: "\eb63";
$icon-grand-theft-auto-path16: "\eb64";
$icon-grand-theft-auto-path17: "\eb65";
$icon-grand-theft-auto-path18: "\eb66";
$icon-grand-theft-auto-path19: "\eb67";
$icon-grand-theft-auto-path20: "\eb68";
$icon-grand-theft-auto-path21: "\eb69";
$icon-grand-theft-auto-path22: "\eb6a";
$icon-grand-theft-auto-path23: "\eb6b";
$icon-grand-theft-auto-path24: "\eb6c";
$icon-grand-theft-auto-path25: "\eb6d";
$icon-grand-theft-auto-path26: "\eb6e";
$icon-grand-theft-auto-path27: "\eb6f";
$icon-grand-theft-auto-path28: "\eb70";
$icon-grand-theft-auto-path29: "\eb71";
$icon-grand-theft-auto-path30: "\eb72";
$icon-grand-theft-auto-path31: "\eb73";
$icon-grand-theft-auto-path32: "\eb74";
$icon-grand-theft-auto-path33: "\eb75";
$icon-grand-theft-auto-path34: "\eb76";
$icon-grand-theft-auto-path35: "\eb77";
$icon-grand-theft-auto-path36: "\eb78";
$icon-grand-theft-auto-path37: "\eb79";
$icon-grand-theft-auto-path38: "\eb7a";
$icon-grand-theft-auto-path39: "\eb7b";
$icon-grand-theft-auto-path40: "\eb7c";
$icon-grand-theft-auto-path41: "\eb7d";
$icon-grand-theft-auto-path42: "\eb7e";
$icon-grand-theft-auto-path43: "\eb7f";
$icon-gears-of-war1-path1: "\eb80";
$icon-gears-of-war1-path2: "\eb81";
$icon-gears-of-war1-path3: "\eb82";
$icon-gears-of-war1-path4: "\eb83";
$icon-gears-of-war1-path5: "\eb84";
$icon-gears-of-war1-path6: "\eb85";
$icon-gears-of-war1-path7: "\eb86";
$icon-gears-of-war1-path8: "\eb87";
$icon-gears-of-war1-path9: "\eb88";
$icon-gears-of-war1-path10: "\eb89";
$icon-gears-of-war1-path11: "\eb8a";
$icon-gears-of-war1-path12: "\eb8b";
$icon-gears-of-war1-path13: "\eb8c";
$icon-gears-of-war1-path14: "\eb8d";
$icon-2k-sports1-path1: "\eb8e";
$icon-2k-sports1-path2: "\eb8f";
$icon-2k-sports1-path3: "\eb90";
$icon-2k-sports1-path4: "\eb91";
$icon-2k-sports1-path5: "\eb92";
$icon-2k-sports1-path6: "\eb93";
$icon-2k-sports1-path7: "\eb94";
$icon-2k-sports1-path8: "\eb95";
$icon-2k-sports1-path9: "\eb96";
$icon-2k-sports1-path10: "\eb97";
$icon-2k-sports1-path11: "\eb98";
$icon-2k-sports1-path12: "\eb99";
$icon-2k-sports1-path13: "\eb9a";
$icon-2k-sports1-path14: "\eb9b";
$icon-2k-sports1-path15: "\eb9c";
$icon-konami1-path1: "\eb9d";
$icon-konami1-path2: "\eb9e";
$icon-konami1-path3: "\eb9f";
$icon-konami1-path4: "\eba0";
$icon-konami1-path5: "\eba1";
$icon-konami1-path6: "\eba2";
$icon-konami1-path7: "\eba3";
$icon-konami1-path8: "\eba4";
$icon-konami1-path9: "\eba5";
$icon-konami1-path10: "\eba6";
$icon-konami1-path11: "\eba7";
$icon-konami1-path12: "\eba8";
$icon-konami1-path13: "\eba9";
$icon-konami1-path14: "\ebaa";
$icon-konami1-path15: "\ebab";
$icon-konami1-path16: "\ebac";
$icon-game-boy1-path1: "\ebad";
$icon-game-boy1-path2: "\ebae";
$icon-game-boy1-path3: "\ebaf";
$icon-game-boy1-path4: "\ebb0";
$icon-game-boy1-path5: "\ebb1";
$icon-game-boy1-path6: "\ebb2";
$icon-game-boy1-path7: "\ebb3";
$icon-game-boy1-path8: "\ebb4";
$icon-game-boy1-path9: "\ebb5";
$icon-fifa-path1: "\ebb6";
$icon-fifa-path2: "\ebb7";
$icon-fifa-path3: "\ebb8";
$icon-fifa-path4: "\ebb9";
$icon-fifa-path5: "\ebba";
$icon-fifa-path6: "\ebbb";
$icon-fifa-path7: "\ebbc";
$icon-fifa-path8: "\ebbd";
$icon-fifa-path9: "\ebbe";
$icon-fifa-path10: "\ebbf";
$icon-fifa-path11: "\ebc0";
$icon-fifa-path12: "\ebc1";
$icon-fifa-path13: "\ebc2";
$icon-fifa-path14: "\ebc3";
$icon-fifa-path15: "\ebc4";
$icon-fifa-path16: "\ebc5";
$icon-dota-21-path1: "\ebc6";
$icon-dota-21-path2: "\ebc7";
$icon-dota-21-path3: "\ebc8";
$icon-dota-21-path4: "\ebc9";
$icon-dota-21-path5: "\ebca";
$icon-dota-21-path6: "\ebcb";
$icon-dota-21-path7: "\ebcc";
$icon-dota-21-path8: "\ebcd";
$icon-dota-21-path9: "\ebce";
$icon-dota-21-path10: "\ebcf";
$icon-dota-21-path11: "\ebd0";
$icon-dota-21-path12: "\ebd1";
$icon-dota-21-path13: "\ebd2";
$icon-dota-21-path14: "\ebd3";
$icon-dota-21-path15: "\ebd4";
$icon-assassins-creed1-path1: "\ebd5";
$icon-assassins-creed1-path2: "\ebd6";
$icon-assassins-creed1-path3: "\ebd7";
$icon-assassins-creed1-path4: "\ebd8";
$icon-assassins-creed1-path5: "\ebd9";
$icon-assassins-creed1-path6: "\ebda";
$icon-assassins-creed1-path7: "\ebdb";
$icon-assassins-creed1-path8: "\ebdc";
$icon-assassins-creed1-path9: "\ebdd";
$icon-assassins-creed1-path10: "\ebde";
$icon-assassins-creed1-path11: "\ebdf";
$icon-assassins-creed1-path12: "\ebe0";
$icon-assassins-creed1-path13: "\ebe1";
$icon-assassins-creed1-path14: "\ebe2";
$icon-assassins-creed1-path15: "\ebe3";
$icon-assassins-creed1-path16: "\ebe4";
$icon-assassins-creed1-path17: "\ebe5";
$icon-assassins-creed1-path18: "\ebe6";
$icon-assassins-creed1-path19: "\ebe7";
$icon-namco1-path1: "\ebe8";
$icon-namco1-path2: "\ebe9";
$icon-namco1-path3: "\ebea";
$icon-namco1-path4: "\ebeb";
$icon-namco1-path5: "\ebec";
$icon-namco1-path6: "\ebed";
$icon-namco1-path7: "\ebee";
$icon-namco1-path8: "\ebef";
$icon-namco1-path9: "\ebf0";
$icon-zynga1-path1: "\ebf1";
$icon-zynga1-path2: "\ebf2";
$icon-zynga1-path3: "\ebf3";
$icon-zynga1-path4: "\ebf4";
$icon-zynga1-path5: "\ebf5";
$icon-zynga1-path6: "\ebf6";
$icon-zynga1-path7: "\ebf7";
$icon-zynga1-path8: "\ebf8";
$icon-zynga1-path9: "\ebf9";
$icon-zynga1-path10: "\ebfa";
$icon-capcom1-path1: "\ebfb";
$icon-capcom1-path2: "\ebfc";
$icon-capcom1-path3: "\ebfd";
$icon-capcom1-path4: "\ebfe";
$icon-capcom1-path5: "\ebff";
$icon-capcom1-path6: "\ec00";
$icon-capcom1-path7: "\ec01";
$icon-capcom1-path8: "\ec02";
$icon-capcom1-path9: "\ec03";
$icon-capcom1-path10: "\ec04";
$icon-valve1-path1: "\ec05";
$icon-valve1-path2: "\ec06";
$icon-valve1-path3: "\ec07";
$icon-valve1-path4: "\ec08";
$icon-valve1-path5: "\ec09";
$icon-valve1-path6: "\ec0a";
$icon-valve1-path7: "\ec0b";
$icon-valve1-path8: "\ec0c";
$icon-valve1-path9: "\ec0d";
$icon-bandai-1-path1: "\ec0e";
$icon-bandai-1-path2: "\ec0f";
$icon-bandai-1-path3: "\ec10";
$icon-bandai-1-path4: "\ec11";
$icon-bandai-1-path5: "\ec12";
$icon-bandai-1-path6: "\ec13";
$icon-bandai-1-path7: "\ec14";
$icon-bandai-1-path8: "\ec15";
$icon-bandai-1-path9: "\ec16";
$icon-bandai-1-path10: "\ec17";
$icon-bandai-1-path11: "\ec18";
$icon-bandai-1-path12: "\ec19";
$icon-bandai-1-path13: "\ec1a";
$icon-bandai-1-path14: "\ec1b";
$icon-bandai-1-path15: "\ec1c";
$icon-bandai-1-path16: "\ec1d";
$icon-bandai-1-path17: "\ec1e";
$icon-bandai-1-path18: "\ec1f";
$icon-bandai-1-path19: "\ec20";
$icon-bandai-1-path20: "\ec21";
$icon-bandai-1-path21: "\ec22";
$icon-bandai-1-path22: "\ec23";
$icon-rovio1-path1: "\ec24";
$icon-rovio1-path2: "\ec25";
$icon-rovio1-path3: "\ec26";
$icon-rovio1-path4: "\ec27";
$icon-rovio1-path5: "\ec28";
$icon-rovio1-path6: "\ec29";
$icon-rovio1-path7: "\ec2a";
$icon-rovio1-path8: "\ec2b";
$icon-rovio1-path9: "\ec2c";
$icon-rovio1-path10: "\ec2d";
$icon-rovio1-path11: "\ec2e";
$icon-rovio1-path12: "\ec2f";
$icon-rovio1-path13: "\ec30";
$icon-rovio1-path14: "\ec31";
$icon-bandai2-path1: "\ec32";
$icon-bandai2-path2: "\ec33";
$icon-bandai2-path3: "\ec34";
$icon-bandai2-path4: "\ec35";
$icon-bandai2-path5: "\ec36";
$icon-bandai2-path6: "\ec37";
$icon-bandai2-path7: "\ec38";
$icon-bandai2-path8: "\ec39";
$icon-bandai2-path9: "\ec3a";
$icon-bandai2-path10: "\ec3b";
$icon-bandai2-path11: "\ec3c";
$icon-bandai2-path12: "\ec3d";
$icon-bandai2-path13: "\ec3e";
$icon-bandai2-path14: "\ec3f";
$icon-bandai2-path15: "\ec40";
$icon-bandai2-path16: "\ec41";
$icon-bandai2-path17: "\ec42";
$icon-bandai2-path18: "\ec43";
$icon-bandai2-path19: "\ec44";
$icon-bandai2-path20: "\ec45";
$icon-playstation-1-path1: "\ec46";
$icon-playstation-1-path2: "\ec47";
$icon-playstation-1-path3: "\ec48";
$icon-playstation-1-path4: "\ec49";
$icon-playstation-1-path5: "\ec4a";
$icon-playstation-1-path6: "\ec4b";
$icon-playstation-1-path7: "\ec4c";
$icon-playstation-1-path8: "\ec4d";
$icon-playstation-1-path9: "\ec4e";
$icon-playstation-1-path10: "\ec4f";
$icon-playstation-1-path11: "\ec50";
$icon-playstation-1-path12: "\ec51";
$icon-playstation-1-path13: "\ec52";
$icon-playstation-1-path14: "\ec53";
$icon-playstation-1-path15: "\ec54";
$icon-playstation-1-path16: "\ec55";
$icon-playstation-1-path17: "\ec56";
$icon-playstation-1-path18: "\ec57";
$icon-playstation-1-path19: "\ec58";
$icon-playstation-1-path20: "\ec59";
$icon-playstation-1-path21: "\ec5a";
$icon-xbox1-path1: "\ec5b";
$icon-xbox1-path2: "\ec5c";
$icon-xbox1-path3: "\ec5d";
$icon-xbox1-path4: "\ec5e";
$icon-xbox1-path5: "\ec5f";
$icon-xbox1-path6: "\ec60";
$icon-xbox1-path7: "\ec61";
$icon-xbox1-path8: "\ec62";
$icon-xbox1-path9: "\ec63";
$icon-xbox1-path10: "\ec64";
$icon-xbox1-path11: "\ec65";
$icon-xbox1-path12: "\ec66";
$icon-ubisoft1-path1: "\ec67";
$icon-ubisoft1-path2: "\ec68";
$icon-ubisoft1-path3: "\ec69";
$icon-ubisoft1-path4: "\ec6a";
$icon-ubisoft1-path5: "\ec6b";
$icon-ubisoft1-path6: "\ec6c";
$icon-ubisoft1-path7: "\ec6d";
$icon-ubisoft1-path8: "\ec6e";
$icon-ubisoft1-path9: "\ec6f";
$icon-ubisoft1-path10: "\ec70";
$icon-ubisoft1-path11: "\ec71";
$icon-ubisoft1-path12: "\ec72";
$icon-ubisoft1-path13: "\ec73";
$icon-ubisoft1-path14: "\ec74";
$icon-ubisoft1-path15: "\ec75";
$icon-ubisoft1-path16: "\ec76";
$icon-ubisoft1-path17: "\ec77";
$icon-sony1-path1: "\ec78";
$icon-sony1-path2: "\ec79";
$icon-sony1-path3: "\ec7a";
$icon-sony1-path4: "\ec7b";
$icon-sony1-path5: "\ec7c";
$icon-sony1-path6: "\ec7d";
$icon-sony1-path7: "\ec7e";
$icon-sony1-path8: "\ec7f";
$icon-crytek1-path1: "\ec80";
$icon-crytek1-path2: "\ec81";
$icon-crytek1-path3: "\ec82";
$icon-crytek1-path4: "\ec83";
$icon-crytek1-path5: "\ec84";
$icon-crytek1-path6: "\ec85";
$icon-crytek1-path7: "\ec86";
$icon-crytek1-path8: "\ec87";
$icon-crytek1-path9: "\ec88";
$icon-crytek1-path10: "\ec89";
$icon-crytek1-path11: "\ec8a";
$icon-crytek1-path12: "\ec8b";
$icon-crytek1-path13: "\ec8c";
$icon-crytek1-path14: "\ec8d";
$icon-crytek1-path15: "\ec8e";
$icon-crytek1-path16: "\ec8f";
$icon-sega1-path1: "\ec90";
$icon-sega1-path2: "\ec91";
$icon-sega1-path3: "\ec92";
$icon-sega1-path4: "\ec93";
$icon-sega1-path5: "\ec94";
$icon-sega1-path6: "\ec95";
$icon-sega1-path7: "\ec96";
$icon-sega1-path8: "\ec97";
$icon-sega1-path9: "\ec98";
$icon-sega1-path10: "\ec99";
$icon-sega1-path11: "\ec9a";
$icon-sega1-path12: "\ec9b";
$icon-sega1-path13: "\ec9c";
$icon-wii-u1-path1: "\ec9d";
$icon-wii-u1-path2: "\ec9e";
$icon-wii-u1-path3: "\ec9f";
$icon-wii-u1-path4: "\eca0";
$icon-wii-u1-path5: "\eca1";
$icon-wii-u1-path6: "\eca2";
$icon-wii-u1-path7: "\eca3";
$icon-wii-u1-path8: "\eca4";
$icon-wii-u1-path9: "\eca5";
$icon-wii-u1-path10: "\eca6";
$icon-wii-u1-path11: "\eca7";
$icon-wii-u1-path12: "\eca8";
$icon-wii-u1-path13: "\eca9";
$icon-wii-u1-path14: "\ecaa";
$icon-wii-u1-path15: "\ecab";
$icon-wii-u1-path16: "\ecac";
$icon-wii-u1-path17: "\ecad";
$icon-wii-u1-path18: "\ecae";
$icon-wii-u1-path19: "\ecaf";
$icon-wii-u1-path20: "\ecb0";
$icon-wii-u1-path21: "\ecb1";
$icon-wii-u1-path22: "\ecb2";
$icon-wii-u1-path23: "\ecb3";
$icon-wii-u1-path24: "\ecb4";
$icon-wii-u1-path25: "\ecb5";
$icon-wii1-path1: "\ecb6";
$icon-wii1-path2: "\ecb7";
$icon-wii1-path3: "\ecb8";
$icon-wii1-path4: "\ecb9";
$icon-wii1-path5: "\ecba";
$icon-wii1-path6: "\ecbb";
$icon-wii1-path7: "\ecbc";
$icon-wii1-path8: "\ecbd";
$icon-wii1-path9: "\ecbe";
$icon-wii1-path10: "\ecbf";
$icon-wii1-path11: "\ecc0";
$icon-wii1-path12: "\ecc1";
$icon-wii1-path13: "\ecc2";
$icon-wii1-path14: "\ecc3";
$icon-wii1-path15: "\ecc4";
$icon-wii1-path16: "\ecc5";
$icon-wii1-path17: "\ecc6";
$icon-wii1-path18: "\ecc7";
$icon-wii1-path19: "\ecc8";
$icon-wii1-path20: "\ecc9";
$icon-nintendo-ds-path1: "\ecca";
$icon-nintendo-ds-path2: "\eccb";
$icon-nintendo-ds-path3: "\eccc";
$icon-nintendo-ds-path4: "\eccd";
$icon-nintendo-ds-path5: "\ecce";
$icon-nintendo-ds-path6: "\eccf";
$icon-nintendo-ds-path7: "\ecd0";
$icon-nintendo-ds-path8: "\ecd1";
$icon-nintendo-ds-path9: "\ecd2";
$icon-nintendo-ds-path10: "\ecd3";
$icon-nintendo-ds-path11: "\ecd4";
$icon-nintendo-ds-path12: "\ecd5";
$icon-nintendo-ds-path13: "\ecd6";
$icon-nintendo-ds-path14: "\ecd7";
$icon-nintendo-ds-path15: "\ecd8";
$icon-playstation-path1: "\ecd9";
$icon-playstation-path2: "\ecda";
$icon-playstation-path3: "\ecdb";
$icon-playstation-path4: "\ecdc";
$icon-playstation-path5: "\ecdd";
$icon-playstation-path6: "\ecde";
$icon-playstation-path7: "\ecdf";
$icon-playstation-path8: "\ece0";
$icon-playstation-path9: "\ece1";
$icon-playstation-path10: "\ece2";
$icon-playstation-path11: "\ece3";
$icon-playstation-path12: "\ece4";
$icon-playstation-path13: "\ece5";
$icon-playstation-path14: "\ece6";
$icon-playstation-path15: "\ece7";
$icon-playstation-path16: "\ece8";
$icon-nintendo-path1: "\ece9";
$icon-nintendo-path2: "\ecea";
$icon-nintendo-path3: "\eceb";
$icon-nintendo-path4: "\ecec";
$icon-nintendo-path5: "\eced";
$icon-nintendo-path6: "\ecee";
$icon-nintendo-path7: "\ecef";
$icon-nintendo-path8: "\ecf0";
$icon-nintendo-path9: "\ecf1";
$icon-nintendo-path10: "\ecf2";
$icon-nintendo-path11: "\ecf3";
$icon-nintendo-path12: "\ecf4";
$icon-nintendo-path13: "\ecf5";
$icon-konami: "\e90d";

